<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book-Recommender-System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: #5A96E3;">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #0A6EBD;">
        <a class="navbar-brand" style="color: aliceblue;" href="/">My Book Recommender</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="color: #5A96E3;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto" style="color: #5A96E3;">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link" href="/recommend">Recommend Me</a>
            </div>
        </div>
    </nav>
    <section id="Home">

        <div class="container-fluid" style="padding: 3% 14%;">
            <div class="row">
                <div class="col-12">
                    <h1 style="color: #000; font-size: 3rem; margin: 50px 0px;">Top 50 Books</h1>
                </div>

                <!--ginger template(Jinja2) START-->

                {% for i in range(book_name|length) %}
                    <div class="col-3">
                        <div class="card" style="background-color: #5A96E3; border: 0; width: 15rem;">
                            <div class="card-body">
                                <img class="card-img-top" src="{{ image[i] }}" alt="">
                                <h3 style="margin: 5px;">{{ book_name[i] }}</h3>
                                <h5>{{ author[i] }}</h5>
                                <h5>Votes - {{ votes[i] }}</h5>
                                <h5>Rating - {{ rating[i] }}</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <!--ginger template(Jinga2) END-->

            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>